.view {
    background: url("/assets/main-back.jpg") no-repeat center center;
    background-size: cover;
}

.intros {
    height: 700px;
}

.price {
    color: #26c6da;
}

.fa-angle-double-down {
    font-size: 50px;
}