<!-- Main -->
<div class="view intros">
    <div class="full-bg-img flex-center">
        <div class="container text-center white-text wow fadeInUp">
            <h1>Найгарячіші тури тут!</h1>
            <br>
            <i class="fa fa-angle-double-down animated bounce infinite"></i>
        </div>
    </div>
</div>
<!-- /.Main -->

<!--Main Layout-->
<main class="text-center py-5">

    <div class="container">
        <div class="row">
            <div class="col-md-12" *ngIf="tours && tours.length">

                <!--Card-->
                <div class="card card-cascade wider reverse my-4" *ngFor="let tour of tours">
                    <a [routerLink]="['', tour.tourId]">
                            
                        <!--Card image-->
                        <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                            <img [src]="tour.imgUrl" class="img-fluid">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/Card image-->


                        <!--Card content-->
                        <div class="card-body text-center ">
                            <!--Title-->
                            <h4 class="card-title"><strong>{{ tour.title }}</strong></h4>{{tour.tourId}}

                            <p class="card-text">{{ tour.description }}</p>

                            <h3 class="price"><strong>{{ tour.price | currency }}</strong></h3>

                        </div>
                        <!--/.Card content-->
                    </a>
                </div>
                <!--/.Card-->

            </div>
        </div>
    </div>

</main>
<!--Main Layout-->